{% extends 'base.html.twig' %}

{% block title %}New Habitats{% endblock %}

{% block body %}
    <h1>Create new Habitats</h1>

    {{ include('habitats/_form.html.twig') }}

    <a href="{{ path('app_habitats_index') }}">back to list</a>
{% endblock %}
