{% extends 'base.html.twig' %}

{% block title %}New CommentairesHabitats{% endblock %}

{% block body %}
    <h1>Create new CommentairesHabitats</h1>

    {{ include('commentaires_habitats/_form.html.twig') }}

    <a href="{{ path('app_commentaires_habitats_index') }}">back to list</a>
{% endblock %}
