{% extends 'base_admin.html.twig' %}

{% block title %}Modifier Compte Rendu
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Modifier Compte Rendu</h1>
		<div class="d-flex">
			<a href="{{ path('app_comptes_rendus_index') }}" class="btn btn-secondary mr-2">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
			{{ include('comptes_rendus/_delete_form.html.twig') }}
		</div>
	</div>

	{{ include('comptes_rendus/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
