{% extends 'base_admin.html.twig' %}

{% block title %}Nouvel Animal
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Créer un nouvel animal</h1>
		<a href="{{ path('app_animaux_index') }}" class="btn btn-secondary">
			<i class="fas fa-arrow-left"></i>
			Retour à la liste
		</a>
	</div>

	{{ include('animaux/_form.html.twig', {'button_label': 'Créer'}) }}
{% endblock %}
