{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(resetForm) }}
{% endblock %}
