.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/* Barre latérale */
#sidebarMenu {
  height: 100vh; 
}

.position-sticky {
  top: 0; 
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar {
  background-color: #f0f9f0; 
  border-right: 1px solid #b3ddb3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
  color: #388e3c; 
}

.sidebar .nav-link:hover {
  background-color: #a5d6a7; 
  color: white; 
}

.sidebar .nav-link.active {
  color: #2e7d32; 
}

.sidebar-heading {
  font-size: .75rem;
  font-weight: bold;
  color: #2e7d32;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: inset -1px 0 0 rgba(0, 0, 0, .25);; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.comment-column {
  white-space: normal; 
  word-wrap: break-word;
}

/*
 * Bouttons
 */

./* Couleur pour le bouton success en accord avec le thème de l'écologie */
.btn-success {
  background-color: #8BC34A; 
  border-color: #8BC34A;
}
.btn-success:hover {
  background-color: rgb(11, 236, 30);
  color: black; 
}

/* Couleur pour le bouton info en accord avec le thème de l'écologie */
.btn-info {
  background-color: #009688; 
  border-color: #009688;
}
.btn-info:hover {
  background-color: #A5D6A7;
  border-color: #A5D6A7;
}

/* Couleur pour le bouton primary en accord avec le thème de l'écologie */
.btn-primary {
  background-color: #4CAF50; 
  border-color: #4CAF50;
}
.btn-primary:hover {
  background-color: #FFEB3B; 
  border-color: #FFEB3B;
  color: black; 
}

/* Couleur pour le bouton secondary en accord avec le thème de l'écologie */
.btn-secondary {
  background-color: #8ac2aa; 
  border-color: #8ac2aa;
}
.btn-secondary:hover {
  background-color: #8ac2aa; 
  color: black; 
}


.btn-danger {
  background-color: #FF7043;
  border-color: #FF7043;
}
.btn-danger:hover {
  background-color: #e61919; 
  border-color: #e61919;
}

.btn {
  color: white; 
}

.forgot-password-link {
  color: #4caf50;
  text-decoration: none; /* Optionnel : retire le soulignement du lien */
}

.forgot-password-link:hover {
  color: #FFEB3B;
  text-decoration: underline;
}

hr {
  border-color: #b3ddb3; 
}

body {
  background-color: #f0f9f0;
}


.table {
  border-color: #b3ddb3;
}
.table thead {
  background-color: #4caf50; 
  color: white;
}
.table tbody tr {
  background-color: #e8f5e9; 
}
.table tbody tr:nth-child(odd) {
  background-color: #c8e6c9; 
}
.table tbody tr:hover {
  background-color: #a5d6a7;
}



.comment-column {
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #04ff00 !important;  
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    background-color: #84ff00 !important;  
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ffffff !important;
    background-color: #ff0000 !important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    color: #ff0000 !important;  
    background-color: transparent !important;
}

