.content-wrap {
    padding: 20px;
}

.img-fluid {
    width: 400px;
    height: 400px;
}

.habitat-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.habitat-info p.description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.habitat-info .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.habitat-info .images img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
}

.habitat-info h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.habitat-info .row {
    justify-content: center;
}

.animal-circle {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50;
    transition: transform 0.3s, box-shadow 0.3s;
}

.animal-circle:hover, .animal-circle:focus {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 2px solid orange;
}

.animal-circle img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* S'assurer que l'image des animaux a des bords arrondis */
}

.animal-circle .animal-name {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.animal-link {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1199px) {
    .animal-circle {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 991px) {
    /* Styles supplémentaires pour des écrans plus petits */
}

@media (max-width: 767px) {
    /* Styles supplémentaires pour des écrans encore plus petits */
}

@media (max-width: 599px) {
    /* Styles supplémentaires pour des écrans très petits */
}
