@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(60, 89, 59, 0.6);
        backdrop-filter: blur(10px);
    }
    .dashboard-btn.bg-small {
        background-color: #f2ddc0;
    }
}

@media(max-width: 575px) {
    .sidebar {
        background-color: rgba(60, 89, 59, 0.6);
        backdrop-filter: blur(10px);
    }
    .dashboard-btn.bg-small {
        background-color: #f2ddc0;
    }
}

body {
    background-color: #5e8153;
    background-image: url('https://my-zoo-images.s3.eu-north-1.amazonaws.com/Images-divers/pexels-katarzyna-modrzejewska-495044-1466434.jpg');
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.custom-bg {
    background-color: #f2ddc0 /* couleur de fond sombre */
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-link.active{
    text-decoration: underline;
}
.dashboard-btn {
    background-color: #5e8153;
}

.dashboard-btn:hover {
    background-color: #5e8153;
    border : 3px solid white
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
}

.card-title {
    min-height: 3em; /* Ajustez cette valeur en fonction de vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Pour centrer le texte */
    white-space: nowrap; /* Pour éviter les retours à la ligne */
    overflow: hidden; /* Pour cacher le texte débordant */
    text-overflow: ellipsis; /* Pour ajouter des points de suspension pour le texte débordant */
}
