/* Styles de base pour les petits écrans */
body {
    background-color: #5e8153;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-bg {
    background-color: #f2ddc0 /* couleur de fond sombre */
}

@media(max-width: 375px) {
    .sidebar {
        background-color: rgba(60, 89, 59, 0.1);
        backdrop-filter: blur(10px);
        width: 70vw;
    }
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(60, 89, 59, 0.1);
        backdrop-filter: blur(10px);
    }
}
