<form method="post" action="{{ path('app_etablissement_delete', {'id': etablissement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet établissement ?');" class="d-inline">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etablissement.id) }}">
	<button class="btn btn-danger ml-2">
		<i class="fas fa-trash-alt"></i>
		Supprimer
	</button>
</form>
